[submodule ".zprezto"]
	path = .zprezto
	url = https://github.com/michaelpj/prezto.git
[submodule "shell/fasd"]
	path = shell/fasd
	url = https://github.com/clvv/fasd
[submodule ".vim/bundle/vundle"]
	path = .vim/bundle/vundle
	url = https://github.com/gmarik/vundle.git
